<!DOCTYPE html>
<html>

<head>
    <%include ./layout/head%>
        <link rel="stylesheet" href="./css/style.css">
        <title>ColorApp</title>
</head>

<body>
    <%include ./layout/nav%>
        <h1 id="notice">Click The Color</h1>
        <div class="container" id="container">
            <% data.forEach((item) => { %>
                <div class="card">
                    <div class="custom-card" style="background-color:#<%= item.code %>"></div>
                    <div class="content">
                        <p class="colorName">
                            <%= item.name %>
                        </p>
                        <p class="colorCode">#
                            <%= item.code %>
                        </p>
                    </div>
                </div>
                <% }); %>
        </div>
        <div id="toast" class=""></div>

        <script src="./js/clipboard.min.js"></script>
        <script>
            window.onload = function() {
                    var card = document.body.querySelectorAll('div.card');
                    var color = document.body.querySelectorAll('div.custom-card');
                    var colorName = document.body.querySelectorAll('p.colorName');
                    var colorCode = document.body.querySelectorAll('p.colorCode');

                    function showToast(text) {
                        var toast = document.getElementById('toast');
                        toast.className = "show";
                        toast.innerHTML = "Copied" + " " + text;
                        setTimeout(function() {
                            toast.className = toast.className.replace('show', "");
                        }, 2000);
                    }


                    for (var i = 0; i < card.length; i++) {
                        card[i].addEventListener('click', function(e) {
                            var code = e.target.parentNode.querySelectorAll('p.colorCode')[0].textContent;
                            console.log(code);
                            var clipboard = new Clipboard('div.card', {
                                text: function() {
                                    return e.target.parentNode.querySelectorAll('p.colorCode')[0].textContent;
                                }
                            });
                            showToast(code);
                        }, false);
                    }
                  }

        </script>
</body>

</html>
