<!DOCTYPE html>
<html>

<head>
        <%include ./layout/head%>
        <title>ColorApp</title>
</head>

<body>
    <div class="search">
        <form method="post" >
            <input type="text" name="searchbar" id="searchbar" placeholder="Search" autocomplete="off">
        </form>
    </div>
    <div class="container" id="container">
        <% data.forEach((item) => { %>
            <div class="card">
                <div class="custom-card" style="background-color:#<%= item.code %>"></div>
                <div class="content">
                    <p class="colorName">
                        <%= item.name %>
                    </p>
                    <p class="colorCode">#<%= item.code %></p>
                </div>
            </div>
            <% }); %>
    </div>
    <a href="/make" id="addBtn"><i class="material-icons">add</i></a>
    <div id="toast" class=""></div>

    <script src="./js/clipboard.min.js"></script>
    <script>
      window.onload = function() {
          var card = document.body.querySelectorAll("div.card");

          function showToast(text) {
              var toast = document.getElementById("toast");
              toast.className = "show";
              toast.innerHTML = "Copied" + " " + text;
              setTimeout(function() {
                  toast.className = toast.className.replace("show", "");
              }, 2000);
          }

          for (var i = 0; i < card.length; i++) {
              card[i].addEventListener("click", function(e) {
                  var code = e.target.parentNode.querySelectorAll("p.colorCode")[0].textContent;
                  console.log(code);
                  var clipboard = new Clipboard("div.card", {
                      text: function() {
                          return e.target.parentNode.querySelectorAll("p.colorCode")[0].textContent;
                      }
                  });
                  showToast(code);
              }, false);
          }
      }
    </script>
</body>

</html>
